.word-list-container {
  min-height: calc(100vh - 50px);
  text-align: center;
}

//TODO: general style
.word-list {
  list-style: none;
}

.word-list__item {
  width: 300px;
}

.word-list__message {
  color: #fff;
  font-size: 24px;
}

.start-button {
  width: 25%;
  margin-top: -25px;
}