@import "./src/shared/variables";

.lock {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.blocked {
  color: rgba(0, 0, 0, 0) !important;
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 201;
  width: 100%;
  height: 100%;
  max-width: 350px;
  background-color: $bg-menu-color;
  padding-top: 50px;

  overflow: auto;

  transition: all 0.2s linear;

  &.active {
    left: 0;
  }
}

.menu::before {
  content: "";
  position: fixed;
  top: 0;
  z-index: 201;
  width: inherit;
  max-width: inherit;
  height: 50px;
  background-color: $bg-menu-color;
}


.list-group-item {
  padding-left: 0;
}

.menu__link {
  color: $main-text-color;

  transition: all 0.2s linear;

  &:hover {
    color: $main-text-color;
    opacity: 0.6;
  }
}

.menu__link.active {
  color: $primary-color;

  &.play-mode {
    color: $secondary-color;
  }
}

@media (max-width: 600px) {
  .menu-list {
    padding: 20px !important;
  }
}