@import "./src/shared/variables";

.statistics {
  min-height: calc(100vh - 50px);
}

.statistics__header {
  border-bottom: 2px solid $primary-color;
}

.table-hover>tbody>tr:hover {
  border: 1px solid $primary-color;
  background-color: $bg-menu-color;
}

@media (max-width: 600px) {
  .statistics {
    padding: 20px !important;
  }
}