@import "./src/shared/variables";

.statistics {
  min-height: calc(100vh - 50px);
}

.statistics__header {
  border-bottom: 2px solid $primary-color;
}

th:hover {
  cursor: pointer;
  border-top: 1px solid $primary-color;
  background-color: $primary-dark-color;
}

.table-hover>tbody>tr:hover {
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  background-color: $primary-dark-color;
}

.play-mode {
  .statistics__header {
    border-bottom: 2px solid $secondary-color;
  }

  .table-hover>tbody>tr:hover {
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    background-color: $secondary-dark-color;
  }

  th:hover {
    cursor: pointer;
    border-top: 1px solid $secondary-color;
    background-color: $secondary-dark-color;
  }
}

@media (max-width: 600px) {
  .statistics {
    padding: 20px !important;
  }
}

@media (max-width: 400px) {
  .statistics__buttons {
    display: flex;
    flex-direction: column;

    .btn-reset {
      margin-bottom: 10px;
      margin-right: 0 !important;
    }
  }
}